.vs
.vscode
.idea
.gradle
lib
vs
temp
tmp
tinybar
tinyfoo
.DS_Store
__pycache__
include/gen
nlohmann
cache
msvc
mingw
mingw32
mingw64
external
build
build_x86
debug
release
Release
Debug
x64
keystore
enc_temp_folder
embuild
miniaudio
push.bat
imgui.ini
stdin.txt
stdout.txt
stderr.txt
out.txt
logo.txt
temp.bin
ui_eid_gen.cpp
*.res
*.pch
*.o
*.stackdump
*.zip
*.rar
*.7z
*.gz
*.xz
*.tar
*.dll
*.so
*.obj
*.dylib
*.exe
*.pyc
*.pyx
*.pyd
*.apk
